<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../js/Practice2_simpleCarculation.js"></script>
<title>Insert title here</title>
<style>
input {
	width: 80px;
}
</style>
</head>
<body>
	<div>
		<input id="num1" type="number"/>
		<select id="category" >
			<option value="+" selected="selected">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
			<option value="%">%</option>
		</select>
		<input id="num2" type="number" />
		<button type="button" onclick="calc();">=</button>
		<input id="result" type="text"/>
	</div>
</body>
</html>